.navbar .logo {
    width: 172px;
    height: 118px;
}

.navbar .nav-link,
.navbar .login-btn {
    font-weight: 500;
    font-size: 16px;
}

.navbar .nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #263F44!important;
}

.navbar .login-btn:hover {
    text-decoration: none;
}